* {
    margin: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;


}

.heads-1 {
    display: flex;
    justify-content: center;
}

.header-div-1 {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-menu-1 a {
    text-decoration: none;
    padding-left: 35px;
    color: black;
}


/* ---------------
----------------Start your Journey as 
Influencer ------------------
------------------------*/
.sec-1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.influencer {
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

}

.influencer-title {
    font-size: 52px;
}

.influencer p {
    font-size: 16px;
    font-weight: 600;
}

.btn-1 {
    padding: 10px;
    border-radius: 50px;
    color: white;
    background-color: #E02C6D;
    border: none;
    height: 44px;
    width: 200px;
    font-size: 16px;
    font-weight: 800;
}

.bg-image {
    background-image: url("images/Circle\ design.svg");
    background-repeat: no-repeat;
    margin-left: 100px;
}



/*---------------- 
------------------ 
---------------
 logo logologo logologo
logologologo logo logo---------------------
----------------------------------
----------------------------------------
 */
.logos {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.logo {
    width: 1000px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

/*---------------- 
------------------ 
---------------
  end logo logologo logologo
logologologo logo logo---------------------
----------------------------------
----------------------------------------
 */



/*------------
 -----------------
 ---------------- Popular Collection start----------
 ----------------
 ------------- */
.popular-collections {
    display: flex;
    justify-content: center;
}

.popular-collection {
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 10px;

}

.collections {

    padding: 10px;
    border-radius: 7px;
    box-shadow: .5px .5px 5px;
}

.flexible {
    display: flex;
    align-items: center;
}

.flexible p {
    padding-left: 10px;
}


.see-more-1 {
    display: flex;
    justify-content: center;
}

.see-more {
    display: flex;
    width: 1050px;
    justify-content: end;
    color: #E02C6D;
    font-weight: 700;

}

.orange {
    color: orange;
}



/* Featured products at one place */

.sec-3 {

    display: flex;
    justify-content: center;
    margin-top: 100px;

}

.flexible-2 {
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

}

.btn-2 {
    padding: 10px 25px;
    background-color: #E02C6D;
    color: white;
    border-radius: 5px;
    border: none;
}




/* footer footer footer */


footer {
    display: flex;
    justify-content: center;
    background-color: rgb(38, 21, 53);
    color: white;
    text-align: center;
    padding: 50px;
    margin-top: 100px;
}

footer h1 {
    font-size: 40px;
}

footer h5 {
    font-size: 20px;
}

.foot-icon {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    font-size: 32px;
}









/* mobile devices */
/* mobile devices */
/* mobile devices */
/* mobile devices */
/* mobile devices */

@media screen and (min-width:577px) {
    .heads-2 {
        display: none;
    }
}





@media screen and (max-width:576px) {

    .heads-1 {
        display: none;
    }

    .header-div-2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px;
    }

    .influencer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .influencer img {
        width: 60%;
        display: flex;
        justify-content: center;
    }

    .bg-image {
        margin-left: -30px;
        display: flex;
        justify-content: center;
    }

    .mob-influ {
        text-align: center;
    }

    .btn-1 {
        margin-top: 20px;
    }

    .logo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .popular-collection {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 20px;
    }

    .see-more-1 {
        text-align: end;
        padding-right: 25px;
    }

    .sec-3 {
        padding: 20px;
    }

    .flexible-2 {
        display: flex;
        flex-direction: column-reverse;


    }

    .btn-2 {
        margin-bottom: 20px;
    }


}